body{
    display: block;
    padding: 0;
    margin: 0;
    color: white;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
  width: 0;
  border: none;
  margin: 0;
}

#headline_container, #status_container{
    position: fixed;
    left: 0;
    width: 100vw;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: block;
    z-index: 5;
    text-align: center;
    font-size: 1.5em;
}
#headline_container{
    top: 0;
    height: 4vh;
}
#status_container{
    bottom: 0;
}
#status_container p{
    margin-top: 2px;
    margin-bottom: 2px;
}

#headline_container select{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
    font-size: 3vh;
    margin: 0vh;
    background-color: rgba(0,0,0,.5);
    padding: 5px;
    border: none;
    outline: 0;
    color: white;
}

.transparent_back{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.5;
    z-index: -1;
}

#video_container{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 1;
}

.weather_video{
    min-width: 100vw;
    min-height: 100vh;
    width: auto;
    height: auto;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: opacity 2s;
}
.fading {
    opacity: 0;
}

.showing {
    opacity: 1;
}

#hourly_container{
    padding: 0;
    margin: 0;
    border-top: 1px solid black;
    white-space: nowrap;
    overflow-x: scroll;
    overflow-y: hidden;
}

.forcast_scroll{
    width: 100%;
    padding: 0;
    margin: 0;
    white-space: nowrap;
    border-top: 1px solid black;
    overflow-x: scroll;
    overflow-y: hidden;
}

.forcast{
    padding: 0 2px;
    margin: 0;
    display: inline-block;
    border-right: 1px solid black;
}
.forcast:first-child{
    border-left: None;
}
.forcast:last-child{
    border-right: None;
}
.forcast p{
    float: left;
    width: 100%;
    padding: 0;
    margin: 0;
    clear: both;
    line-height: 1em;
}

.forcast img{
    height: 2em;
    margin: 0;
    padding: 0;
}
.time_mark{
    float: left;
    color: orange;
    margin-right: 5px;
    font-size: 0.7em;
    line-height: 0.7em;
}
.small{
    font-size: 0.7em;
}
.left-aligned{
    float: left;
}
.right-aligned{
    float: right;
}

.bottom-border{
    border-bottom: 1px solid black;
}

#display_temp{
    position: fixed;
    font-size: 25vh;
    top: 30vh;
    left: 50vw;
    transform: translate(-50%, -50%);
    z-index: 100;
    color: white;
    display: block;
    padding: 0;
    margin: 0;
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 1);
}
.mini{
    font-size: 0.3em;
    line-height: 0.3em;
}
.daily_display{
    margin: 0;
    padding: 0;
}
.lower{
    font-size: 0.6em;
    margin: 1em 0 0 0;
    line-height: 2em;
    vertical-align: bottom;
}

.higher{
    font-size: 0.6em;
    margin: 0 0 1em 0;
    line-height: 2em;
    vertical-align: top;
}

::-webkit-scrollbar {
  height: 8px;
}
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 4px grey;
  border-radius: 4px;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: black;
  border-radius: 4px;
}