<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather</title>
    <link rel="icon" type="image/x-icon" href="static/favicon.ico">
    <link rel="stylesheet" href="static/weather.css"/>
</head>
<body>
    {% if forcast_data %}
    <div id="headline_container">
        <select id="city_name" onchange="reload()">
            {% if locations %}
                {% for city_name in locations %}
                    {% if forcast_data.city_name == city_name %}
                        <option value="{{ city_name }}" selected="selected">{{ city_name }}</option>
                    {% else %}
                        <option value="{{ city_name }}">{{ city_name }}</option>
                    {% endif %}
                {% endfor %}
            {% endif %}
        </select>
    </div>

    <div id="video_container">
        <video id="video_1" class="weather_video"
                muted
                playsinline
                autoplay
                preload="auto"
                onplay="setupVideoQueue('video_1', 'video_2')">
            <source src="static/videos/{{forcast_data['today_info']['icon_name']}}.mp4" type="video/mp4">
        </video>
        <video id="video_2" class="weather_video"
                muted
                playsinline
                preload="auto"
                onplay="setupVideoQueue('video_2', 'video_1')">
            <source src="static/videos/{{forcast_data['today_info']['icon_name']}}.mp4" type="video/mp4">
        </video>
    </div>

    <p id="display_temp">{{ forcast_data.today_info.temp }}<sup class="mini">&#8451;</sup></p>

    <div id="status_container">
        <div class="transparent_back"></div>

        <p>
            {{ forcast_data.today_info.description }}
        </p>
        <div class="forcast_scroll">
            {% for item in forcast_data.hourly %}
            <div class="forcast">
                <p><sup class="time_mark">{{ item.hour }}:00</sup>{{ item.temp }}&#8451;</p>
                {% if item.prec > 0 %}
                <p class="small">P:{{ item.prec }}mm>
                {% else %}
                <p class="small">
                {% endif %}
                <img src="static/icons/{{ item.icon }}.png"/></p>
            </div>
            {% endfor %}
        </div>
        <div class="forcast_scroll">
            {% for item in forcast_data.daily %}
            <div class="forcast">
                <p><sup>{{ weekdays[item.day] }}</sup></p>
                <p class="daily_display">
                    <span class="lower">{{ item.temp_min }}&#8451;</span>
                    <img src="static/icons/{{ item.icon }}.png"/>
                    <span class="higher">{{ item.temp_max }}&#8451;</span>
                </p>

            </div>
            {% endfor %}
        </div>
    </div>
    {% else %}
        <p>{{ error_message }}</p>
    {% endif %}
</body>
<script src="static/weather.js"></script>
</html>