<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather</title>
    <link rel="icon" type="image/x-icon" href="static/favicon.ico">
    <link rel="stylesheet" href="static/weather.css"/>
</head>
<body>
    <div id="headline_container">
        <div class="transparent_back"></div>
        <p>{{city}}</p>
    </div>

    <div id="video_container">
        <video id="weather_video" autoplay muted loop>
            <source src="static/videos/{{icon}}.mp4" type="video/mp4">
        </video>
    </div>

    <p id="display_temp">{{display_temp}}<sup class="mini">&#8451;</sup></p>

    <div id="status_container">
        <div class="transparent_back"></div>
        <p id="weather_msg">{{weather_msg}}<img src="{{icon_location}}/{{icon}}.png"/></p>
        <p class="bottom-border">{{temperature}}</p>
        <div class="forcast clearfix">
        {% for item in forcast_data %}
            <div class="daily_forcast">
                <p class="forcast_date">{{item.date}}</p>
                <p><span class="small left-aligned">{{item.min_temp}}&#8451;</span> {{item.avg_temp}}&#8451; <span class="small right-aligned">{{item.max_temp}}&#8451;</span></p>
                <p>{{item.probabillity}}%<img class="small_icon" src="{{icon_location}}/{{item.icon}}.png"/></p>
            </div>
        {% endfor %}
        </div>
    </div>
</body>
<script src="static/weather.js"></script>
</html>